# Pandas
## Jupyter notebook for learning pandas
> Author: Harsh

In [6]:
print ("hello jupyter")

hello jupyter

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl

print(pd.__version__) #get pandas version info

0.19.2

### 1. create a dict below

In [6]:
url_lists = {'list1': ['www.example.com', 'www.example1.com'], 
			'list2': ['www.exampletwo.com', 'www.examplethree.com']}

# generate pandas Series from the dict
sampleSeries = pd.Series(url_lists)

print (sampleSeries.keys()) # print keys from sample Series

Index(['list1', 'list2'], dtype='object')

### 2. iterate over a certain row in a Series. Say list1

In [15]:
for url in url_lists['list1']:
	print (url)
print ("----")

----
www.example.com
www.example1.com
----

### 3. iterate over a all data in all rows in a Series

In [27]:
for key in url_lists.keys():
    for url in url_lists[key]:
        print (url)

www.exampletwo.com
www.examplethree.com
www.example.com
www.example1.com

### 4. write Series into a csv file

In [7]:
# make sure you have 'series-example.csv' at the location after thos
sampleSeries.to_csv('series-example.csv', encoding='utf-8') #encoding is optional.

*Check file location for a new csv file 'Series-example.csv'*

### 5. read from a csv into a series
using from_csv in Series

In [ ]:
test_Series_reader = pd.Series.from_csv('Series-example.csv')
print (test_Series_reader.keys())

a powerful csv reader method is pandas.read_csv(), use that instead for a much general purpose usage

In [30]:
test_Series_reader1 = pd.read_csv('Series-example.csv')
print (test_Series_reader1.head())

   list1         ['www.example.com', 'www.example1.com']
0  list2  ['www.exampletwo.com', 'www.examplethree.com']

### 6. Create a sample series

In [24]:
s = pd.Series([1,3,5,np.nan,6,8]) #using numpy here for nan
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### 7. Create a sample 'DataFrame' from datetime index

In [25]:
dates = pd.date_range('20170401', periods=6)
dates

DatetimeIndex(['2017-04-01', '2017-04-02', '2017-04-03', '2017-04-04',
               '2017-04-05', '2017-04-06'],
              dtype='datetime64[ns]', freq='D')

* using np to create a numpy array with dates as index and 4 columns A,B,C,D and some random values

In [29]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2017-04-01  1.409633  0.276320  0.300465  0.406575
2017-04-02 -2.005225  1.163566 -0.053056 -0.143334
2017-04-03 -0.501449 -0.300180 -1.213508  0.756508
2017-04-04 -0.319583 -1.475046  0.063512 -2.680346
2017-04-05 -0.650819  0.111021 -0.146326  0.054527
2017-04-06  1.294778 -0.182708 -0.786650 -0.545621

In [32]:
df[A,B] = df[B,A]

NameError: name 'B' is not defined